
PYTHON_VERSION=
APP_NAME=
API_V1_PREFIX=
FRONTEND_ORIGIN=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SCHEMA=
SUPABASE_TICKETS_TABLE=
SUPABASE_MESSAGES_TABLE=
KAPSO_BASE_URL=
KAPSO_API_KEY=
KAPSO_SEND_PATH=
KAPSO_MOCK_MODE=
AUTO_REPLY_TEXT=

